[program:mnemosyne-queue-pybossa]
user=user
directory=/home/user/mnemosyne
environment=PATH="/home/user/mnemosyne/env"
command=/home/user/mnemosyne/env/bin/rqworker pybossa
identifier=mnemosyne-queue-pybossa
autostart=true
autorestart=true
